<div class="container">
    <div class="row">
        <div class="col">
            <div class="h5">Form Control</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-8">

            <div class="form-group">
                <label>Regular</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>


        </div>
        <div class="col-md-4 mt-8">

            <div class="form-group">
                <label>Valid</label>
                <input type="text" class="form-control is-valid">
            </div>

        </div>
        <div class="col-md-4 mt-8">
            <div class="form-group">
                <label>Invalid</label>
                <input type="text" class="form-control is-invalid">
            </div>
        </div>
        <div class="col-md-4 mt-8">

            <div class="form-group">
                <input type="text" class="form-control rounded-0">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>


        <div class="col-md-4 mt-8">
            <input type="text" class="form-control  rounded-pill" placeholder="form control rounded">
        </div>
        <div class="col-md-4 mt-8">

            <input type="email" class="form-control  rounded-0" placeholder="form control square">
        </div>

        <div class="col-md-4 mt-8">
            <input class="form-control form-control-sm" type="text" placeholder="small">
        </div>
        <div class="col-md-4 mt-8">
            <input class="form-control" type="text" placeholder="regular">
        </div>
        <div class="col-md-4 mt-8">
            <input class="form-control form-control-lg" type="text" placeholder="large">
        </div>
        <div class="col-md-4 mt-8">

            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">


        </div>
        <div class="col-md-6 mt-8">

            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        </div>
        <div class="col-md-6 mt-8">
            <input class="form-control" type="text" placeholder="Readonly input" readonly>
        </div>

    </div>

    <div class="row">
        <div class="col-12 mt-8">
            <form class="row g-4 d-flex align-items-center">
                <div class="col-auto">
                    <label for="staticEmail10" class="visually-hidden">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail10" required
                        value="email@example.com">
                </div>
                <div class="col-auto">
                    <label for="inputPassword10" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword10" placeholder="Password" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Confirm identity</button>
                </div>
            </form>
        </div>
    </div>

</div>