<div class="container">
    <h5>Floating Labels</h5>
    <div class="row">
        <div class="col-md-6 mt-8">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

        </div>
        <div class="col-md-6 mt-8">
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        </div>
        <div class="col-md-6 mt-8">
            <form class="form-floating">
                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com"
                    value="test@example.com">
                <label for="floatingInputValue">Input with value</label>
            </form>
        </div>
         <div class="col-md-6 mt-8">
             <form class="form-floating">
                 <input type="email" class="form-control is-valid" id="floatingInputValid"
                     placeholder="name@example.com" value="test@example.com">
                 <label for="floatingInputValid">Valid input</label>
             </form>
         </div>
        <div class="col-md-6 mt-8">
            <form class="form-floating">
                <input type="email" class="form-control is-invalid" id="floatingInputInvalid"
                    placeholder="name@example.com" value="test@example.com">
                <label for="floatingInputInvalid">Invalid input</label>
            </form>
        </div>
        <div class="col-md-6 mt-8">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comments</label>
            </div>
        </div>
        <div class="col-md-6 mt-8">
            <div class="form-floating mb-3">
                <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput"
                    placeholder="name@example.com" value="name@example.com">
                <label for="floatingPlaintextInput">Readonly Input with Value</label>
            </div>
        </div>
        <div class="col-md-6 mt-8">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com"
                    disabled>
                <label for="floatingInputDisabled">Email address with disabled attribute</label>
            </div>
        </div>
    </div>
</div>