<div class="container">
    <h5>Select</h5>
    <div class="row">
        <div class="col-12 mt-8">
            <label for="exampleDataList" class="form-label">Datalist example</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList"
                placeholder="Type to search from options...">
            <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
            </datalist>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-8">
            <label for="exampleColorInput" class="form-label">Color picker</label>
            <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#066efc"
                title="Choose your color" style="height: 50px;">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-8">
            <h5 class="mb-5">File Upload</h5>
            <div class="mb-5">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control form-control-soft" type="file" id="formFile">
            </div>
            <div class="mb-5">
                <label for="formFileDisabled" class="form-label">Disabled file input example</label>
                <input class="form-control" type="file" id="formFileDisabled" disabled>
            </div>
            <div>
                <label for="formFileLg" class="form-label">Large file input example</label>
                <input class="form-control form-control-lg form-control-soft" id="formFileLg" type="file">
            </div>
        </div>
    </div>
</div>