<div class="container">
    <div class="row">
        <div class="col-md-4 mt-8">

            <div class="form-group">
                <label>Regular</label>
                <input type="text" class="form-control form-control-soft">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="col-md-4 mt-8">

            <div class="form-group">
                <label>Valid</label>
                <input type="text" class="form-control form-control-soft is-valid">
            </div>

        </div>
        <div class="col-md-4 mt-8">
            <div class="form-group">
                <label>Invalid</label>
                <input type="text" class="form-control form-control-soft is-invalid">
            </div>
        </div>
        <div class="col-md-4 mt-8">
            <div class="form-group">
                <input type="text" class="form-control  form-control-soft" placeholder="form control with placeholder">
            </div>
        </div>
        <div class="col-md-4 mt-8">
            <div class="form-group">
                <input type="text" class="form-control form-control-soft is-valid"
                    placeholder="form control soft valid">
            </div>
        </div>
        <div class="col-md-4 mt-8">
            <div class="form-group">
                <input type="text" class="form-control form-control-soft is-invalid"
                    placeholder="form control soft invalid">
            </div>
        </div>
        <div class="col-md-4 mt-8">
            <label class="form-label" for="exampleFormControlSoftEmail">Email</label>
            <input type="text" class="form-control form-control-soft rounded-0" id="exampleFormControlSoftEmail"
                placeholder="form control soft square">
        </div>
        <div class="col-md-6 mt-8">

            <label for="exampleFormControlSoftTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control form-control-soft" id="exampleFormControlSoftTextarea1" rows="3"></textarea>

        </div>
        <div class="col-md-6 mt-8">
            <label for="exampleReadonlySoft" class="form-label">Readonly</label>
            <input class="form-control form-control-soft" type="text" id="exampleReadonlySoft"
                placeholder="Readonly input" readonly>
        </div>
    </div>
</div>