<div class="container">
    <h5>Input Groups</h5>
    <div class="row">
        <div class="col-12">
            <div class="input-group mt-8">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control border-start-0" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mt-8">
                <input type="text" class="form-control border-end-0" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>

            <div class="input-group mt-8">
                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                <input type="text" class="form-control border-start-0" id="basic-url" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mt-8">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control border-start-0 border-end-0"
                    aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
            </div>

            <div class="input-group mt-8">
                <span class="input-group-text">With textarea</span>
                <textarea class="form-control border-start-0" aria-label="With textarea"></textarea>
            </div>

        </div>
        <div class="col-md-6">
            <div class="input-group mt-8">
                <button class="btn btn-outline-primary" type="button" id="button-addon1">Button</button>
                <input type="text" class="form-control border-start-0" placeholder=""
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mt-8">
                <input type="text" class="form-control border-end-0" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>
</div>

