<div class="row g-6">
    <div class="col-md-6">
        <a href="@@path/forms/form-control.html" class="d-block">
            <strong class="d-block h5 text-primary">Form Control</strong>
            <span class="text-body">
                Style textual inputs and textareas with support for multiple states.
            </span>
        </a>
    </div>
     <div class="col-md-6">
         <a href="@@path/forms/form-control-soft.html" class="d-block">
             <strong class="d-block h5 text-primary">Form Control Soft</strong>
             <span class="text-body">
                 Soft background textual inputs and textareas with support for multiple states.
             </span>
         </a>
     </div>
     <div class="col-md-6">
         <a href="@@path/forms/form-control-check.html" class="d-block">
             <strong class="d-block h5 text-primary">Checks, radios & switches</strong>
             <span class="text-body">
                 Use custom radio buttons, checkboxes and switches in forms for selecting input options.
             </span>
         </a>
     </div>
     <div class="col-md-6">
         <a href="@@path/forms/form-control-input-group.html" class="d-block">
             <strong class="d-block h5 text-primary">Input group</strong>
             <span class="text-body">
                 Attach labels and buttons to your inputs for increased semantic value.
             </span>
         </a>
     </div>
     <div class="col-md-6">
         <a href="@@path/forms/form-floating-labels.html" class="d-block">
             <strong class="d-block h5 text-primary">Floating labels</strong>
             <span class="text-body">
                 Create beautifully simple form labels that float over your input fields.
             </span>
         </a>
     </div>
     <div class="col-md-6">
         <a href="@@path/forms/form-control-validations.html" class="d-block">
             <strong class="d-block h5 text-primary">Validation</strong>
             <span class="text-body">
                 Validate your forms with custom or native validation behaviors and styles.
             </span>
         </a>
     </div>
     <div class="col-md-6">
         <a href="@@path/forms/form-select.html" class="d-block">
             <strong class="d-block h5 text-primary">Select & File Upload</strong>
             <span class="text-body">
                 Improve browser default file upload and select elements with a custom initial appearance.
             </span>
         </a>
     </div>
</div>

