
<div class="px-5 px-sm-10 px-md-15 mt-5">
    <div class="alert alert-light alert-dismissible fade show mx-auto" role="alert">
        <strong>Close Button Example</strong> some important content.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-dark alert-dismissible fade show mt-6 mx-auto" role="alert" data-bs-theme="dark">
        <strong>Close Button Example Dark Variant</strong> some important content.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>