<div class="container">
    <div class="row mt-10 position-relative">
        <div class="col-lg-3 col-md-6 text-center" id="top-popover-container">
            <a href="#!" tabindex="0" role="button" data-bs-toggle="popover" 
               class="btn btn-primary my-3"
                title="" data-bs-trigger="focus"
                data-bs-content="Popover body content is set in this attribute." data-bs-placement="top"
                data-bs-original-title="Popover title"
                data-bs-container="#top-popover-container"
                 data-bs-custom-class="popover-primary">
                Popover top
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary my-3" data-bs-container="body"
                data-bs-trigger="focus" data-bs-toggle="popover" data-bs-placement="right"
                data-bs-content="Right popover" data-bs-custom-class="popover-danger">
                Popover right
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary my-3"
                data-bs-trigger="focus" data-bs-container="body" data-bs-toggle="popover"
                data-bs-original-title="Popover title" data-bs-placement="bottom"
                data-bs-content="Popover body content is set in this attribute."
                 data-bs-custom-class="popover-info" >
                Popover bottom
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary my-3" data-bs-container="body"
                data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="left"
                data-bs-content="Left popover"
                 data-bs-custom-class="popover-secondary">
                Popover left
            </a>
        </div>
    </div>
</div>