<div class="container mt-10 mb-2">
    <div class="row position-relative">
        <div class="col-lg-3 col-md-6 text-center" id="top-tooltip-container">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="tooltip-success" title="Message" data-bs-container="#top-tooltip-container">
                Tooltip on Top
            </button>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="tooltip-danger" title="Message">
                Tooltip on right
            </button>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Message">
                Tooltip on bottom
            </button>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="left"
                data-bs-custom-class="tooltip-info" title="Message">
                Tooltip on left
            </button>
        </div>


    </div>
</div>