<div class="mb-20">
    <div class="position-relative bg-cover" style="background-image: url(@@path/assets/img/demo/house-1.jpg);">
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-90"></span>
        <div class="container py-21 position-relative">
            <div class="row align-items-center py-5">
                <div class="col-12">
                    <div class="text-center">
                        <h6 class="text-uppercase text-white fw-bold">Hero</h6>
                        <h1 class="display-4 text-white my-5 fw-bold">The best place for your <span
                                class="text-primar">home</span></h1>
                        <p class="lead text-white">Lorem ipsum dolor sit amet</p>
                        <div class="mt-6">
                            <a class="btn btn-primary me-1" href="#!">Properties</a>
                            <a class="btn btn-light" href="#!">Agents</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="my-20">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-uppercase text-dark fw-bold">our product</h6>
                <h1 class="text-primary my-5">Grow your business faster with featured product</h1>
                <p class="lead px-5 pt-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
        <div class="row pt-7">
            <div class="col-12">
                <div class="card shadow-lg-dark">
                    <div class="card-body">
                        <form class="row m-0">
                            <div class="col-lg-4 my-3">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="theme-home-name" placeholder="name"
                                        value="" required>
                                    <label for="theme-home-name">Name</label>
                                </div>
                            </div>
                            <div class="col-lg-4 my-3">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="theme-home-email" placeholder="email"
                                        value="" required>
                                    <label for="theme-home-email">Email</label>
                                </div>
                            </div>
                            <div class="col-lg-4 my-3 d-grid">
                                <button class="btn btn-primary btn-lg">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-6">
            <div class="col-12 text-center">
                <small class="text-primary">Easy Setup &nbsp;| &nbsp; No Card Required &nbsp; | &nbsp; Cancel
                    Anytime</small>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container my-20">
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h2 class="text-capitalize text-dark">Learn anything you want. everyday.</h2>
            <p class="text-muted pt-5 px-md-10">Lorem ipsum dolor amet, ad sea iriure bonorum mediocrem. Elit
                vidit
                nulla
                eam ne. Qui in expetenda mea ad viderer equidem nominavi.
            </p>
            <div class="text-center pt-5">
                <button class="btn btn-primary rounded-pill">Get Started</button>
            </div>
        </div>
    </div>

    <div class="row mt-10">
        <div class="col-12">
            <div class="overflow-hidden" style="max-height: 40vh;">
                <div class="container px-5">
                    <img src="@@path/assets/img/demo/cards.jpg" class="img-fluid rounded-3 mx-auto d-block"
                        alt="Example image" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="my-20">
    <div class="container px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-7">
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <img src="@@path/assets/img/demo/work.svg" class="img-fluid"
                    alt="cards"  loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-6 fw-bold lh-1 text-primary text-center text-lg-start">Business Process</h1>
                <p class="lead my-6 pe-lg-7 text-center text-lg-start">
                    Lorem ipsum dolor sit amet, consect etur ut adipicing elit duis ut ciam, do eiusmod
                    inca utet dolorea magna qua. Ut enim ad minim veniam consequa semp nam justo viam. Aliquam
                    males uada dum arcu vitae.
                </p>
                <div class="d-grid gap-3 d-flex justify-content-center justify-content-lg-start">
                    <button type="button" class="btn btn-primary mt-1">Get Started</button>
                    <button type="button" class="btn btn-outline-dark mt-1 border border-2 border-dark">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="my-20">
    <div class="container">
        <div class="row position-relative mb-7 mb-md-0">
            <div class="col d-flex align-items-center justify-content-center flex-column">
                <h1 class="text-primary display-1 fw-bold mt-2">Integrations</h1>
                <p class="h3 opacity-80 px-2 px-md-5 py-5 text-center">
                    Lorem ipsum dolor sit amet consect etur ut adipicing elit duis ut ciam do eiusmod
                    inca utet dolorea magna qua
                </p>

                <div class="pt-4">
                    <a class="btn btn-primary me-2 mt-2" href="#!">
                        Take a Tour
                        <i class="fas fa-arrow-right-long ms-2"></i></a>
                    <a class="btn btn-outline-primary border border-2 border-primary mt-2" href="#!">
                        Sign Up
                        <i class="fas fa-external-link-alt ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>