<html lang="en">
@@include("./_header.html", {"path":"..", "theme":"avant"})

<body>

    @@include("./_navigation.html", {"path":"..", "navbg": "navbar-light", "theme":"avant"})

    <main>

        <div class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="display-2">Blank Page</h1>
                        <p class="lead opacity-75 mt-3">
                            </p>
                    </div>
                </div>
            </div>
        </div>

    </main>

    @@include("./_footer.html", {"path":"..", "theme":"avant"})

    @@include("./_scripts.html", {"path":"..", "theme":"avant"})


</body>

</html>